@model CityCustomerMVC.Models.City
@{
    ViewBag.Title = "NewCityForm";
}

@using (Html.BeginForm("AddCity", "City"))
{

    <div class="form-group">

        @Html.LabelFor(m => m.Name)

        @Html.TextBoxFor(m => m.Name)
        
        @Html.ValidationMessageFor(m => m.Name)


        <button type="submit" class="btn btn-lg btn-primary">ADD NEW CITY</button>

    </div>

}